.workspaces-panels-container {
    display: flex;
    gap: 8;
    width: 100%;
    border-radius: 16px;
    background: #ecf1fd;
    max-width: 598px;
    padding: 24px;
    align-items: flex-start;
}
